<div class="user-add-holder">
    <div class="content">
        <div class="holder">
            <div class="title">
                <div class="text">
                    {{isAdd?"Yeni istifadəçi əlavə et":'İstifadəçini dəyiş'}} 
                </div>
                <div class="icon" (click)="goBackToDashboard()">
                    <mat-icon>close</mat-icon>
                </div>
            </div>
            <div class="add-holder">
                <form (submit)="onSubmitForm()" [formGroup]="addForm" class="add-form">
                    <mat-form-field class="input" appearance="fill">
                      <mat-label>Ad</mat-label>
                      <input formControlName='name' matInput placeholder="Ad" value="">
                    </mat-form-field>
                    <mat-form-field class="input" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName='email' placeholder="Email" value="">
                      </mat-form-field>
                      <mat-form-field class="input" appearance="fill">
                        <mat-label>Cins</mat-label>
                        <mat-select formControlName='gender'>
                          <mat-option *ngFor="let gender of genders" [value]="gender.name">
                            {{gender.displayName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="input" appearance="fill">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName='status'>
                          <mat-option *ngFor="let status of statuses" [value]="status.name">
                            {{status.displayName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
            
                      <div class="buttons-holder">
                        <button type="submit"  mat-raised-button color="primary">Əlavə et</button>
                      </div>
                    
                  </form>
            </div>
        </div>
    </div>
    <div (click)="goBackToDashboard()"  class="overlay">
        
    </div>
</div>